<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
 </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   <!--  <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/sform">Create User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/view">View Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" >
<h1 th:text="${head}"></h1>
 <p th:text="${msg}" class="color"/>
	<form th:action="@{/saveData}" th:object="${user}" method="post" >
		<table>
			<tr>
				<td><h5>User Name:</h5></td>
				<td><input  type="text" th:field="*{userName}"/></td>
				<!-- Here we hidden the field becouse double posting problem.
				problem is when i update the data but data is not update data is going to saved
				 -->
				<td><input type="hidden" th:field="*{userId}"/></td>
				<td><input type="hidden" th:field="*{userAction}"/></td>
				<td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>
				
			</tr>
			<tr>
				<td><h5>User Email:</h5></td>
				<td><input th:field="*{userEmail}"/></td>
			</tr>
			<tr>
				<td><h5>User Phone Number:</h5></td>
				<td><input  type="text" th:field="*{userPhNo}"/></td>
			</tr>
			<tr>
				<td><h5>Select User Gender:</h5></td>
				<td><input  type="radio" th:field="*{userGender}" value="Male" style="padding-right: 40px">Male</input>
				<input style="padding-right: 40px" type="radio" th:field="*{userGender}" value="Female">Female</input></td>
				
			</tr>
			<tr>
				<td><h5>User Date of Berth:</h5></td>
				<td><input type="date" th:field="*{userDob}"/></td>
			</tr>
			<tr>
				<td><h5>SSN:</h5></td>
				<td><input  type="text" th:field="*{userSsn}"/></td>
			</tr>
			<tr>
			 <td></td>
			 <td><input  class="btn btn-primary" type="submit" value="Submit"/></td>
			</tr>
		</table>
	</form>
	<div>
	  <table>
	    <tr>
	     <td>
	      </td>
	      <td>
	      <a href="/form" class="btn btn-warning">Reset</a>
	      </td>
	    </tr>
	  </table>
	</div>
	</div>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>